.u-section-6-1 .u-sheet-1 {
  min-height: 535px;
}

.u-section-6-1 .u-layout-wrap-1 {
  width: 968px;
  margin: 28px auto 0;
}

.u-section-6-1 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-1 .u-image-1 {
  height: 145px;
  margin-top: 66px;
  margin-bottom: 0;
}

.u-section-6-1 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-6-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6-1 .u-text-1 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-6-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6-1 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-6-1 .u-image-1 {
    height: 139px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-6-1 .u-image-1 {
    height: 96px;
    margin-top: 165px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 140px;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-1 .u-image-1 {
    height: 125px;
    width: 144px;
    margin-top: -30px;
    margin-right: auto;
    margin-left: 177px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-6-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-6-2 .u-sheet-1 {
  min-height: 535px;
}

.u-section-6-2 .u-layout-wrap-1 {
  width: 968px;
  margin: 24px auto 60px;
}

.u-section-6-2 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-6-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-2 .u-image-1 {
  width: 238px;
  height: 187px;
  object-position: 50% 22%;
  margin: 50px -20px 0;
}

.u-section-6-2 .u-layout-cell-2 {
  min-height: 428px;
}

.u-section-6-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6-2 .u-text-1 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-6-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6-2 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-6-2 .u-image-1 {
    width: 191px;
    height: 150px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-2 .u-layout-cell-2 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-6-2 .u-image-1 {
    height: 104px;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 24px;
    margin-bottom: 60px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-2 .u-image-1 {
    height: 186px;
    width: 186px;
    margin: -5px auto;
  }

  .u-section-6-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 142px;
  }
}.u-section-6-3 .u-sheet-1 {
  min-height: 535px;
}

.u-section-6-3 .u-layout-wrap-1 {
  width: 968px;
  margin: 107px auto 0;
}

.u-section-6-3 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-6-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6-3 .u-image-1 {
  height: 101px;
  object-position: 50% 22%;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-6-3 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-6-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6-3 .u-text-1 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-6-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6-3 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-6-3 .u-image-1 {
    height: 98px;
    margin-top: 0;
  }

  .u-section-6-3 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-6-3 .u-image-1 {
    height: 75px;
    margin-top: 107px;
  }

  .u-section-6-3 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-6-3 .u-image-1 {
    height: 211px;
  }

  .u-section-6-3 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-6-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: -13px;
  }

  .u-section-6-3 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-6-3 .u-text-3 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-6-3 .u-image-1 {
    height: 133px;
  }

  .u-section-6-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-1 {
  background-image: url("images/1R9A4863.jpg");
  background-position: 50% 81.74%;
}

.u-section-1 .u-sheet-1 {
  min-height: 347px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 396px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 443px 773px 60px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 506px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 398px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 372px;
    margin: 12px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 415px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 312px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin: 24px 5px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 613px;
}

.u-section-2 .u-image-1 {
  width: 629px;
  height: 439px;
  margin: 91px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  min-height: 577px;
  height: auto;
  margin: -530px 0 36px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 111px 98px 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  margin: 20px 48px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 23px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 182px;
  height: 100px;
  margin: -52px auto 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 799px;
  }

  .u-section-2 .u-image-1 {
    width: 548px;
    height: 323px;
    margin-top: 70px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 885px;
    min-height: 368px;
    margin-top: 38px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -69px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 551px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 377px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 411px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 237px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    min-height: 505px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: 110px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 378px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 33px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 312px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  width: 149px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  width: 149px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  width: 149px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  width: 149px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-3 .u-list-1 {
    min-height: 257px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-3 .u-list-1 {
    min-height: 518px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 745px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 645px;
  background-image: url("images/20201229_075716.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 323px;
  background-image: url("images/20201229_092234.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 323px;
  background-image: url("images/20201229_092106.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 323px;
  background-image: url("images/thumbnail_image002.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 323px;
  background-image: url("images/1R9A48651.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-4 .u-image-1 {
    min-height: 532px;
  }

  .u-section-4 .u-image-2 {
    min-height: 266px;
  }

  .u-section-4 .u-image-3 {
    min-height: 266px;
  }

  .u-section-4 .u-image-4 {
    min-height: 266px;
  }

  .u-section-4 .u-image-5 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1729px;
  }

  .u-section-4 .u-image-1 {
    min-height: 815px;
  }

  .u-section-4 .u-image-2 {
    min-height: 407px;
  }

  .u-section-4 .u-image-3 {
    min-height: 407px;
  }

  .u-section-4 .u-image-4 {
    min-height: 407px;
  }

  .u-section-4 .u-image-5 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3155px;
  }

  .u-section-4 .u-image-1 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1745px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1013px;
  }

  .u-section-4 .u-image-1 {
    min-height: 385px;
  }

  .u-section-4 .u-image-2 {
    min-height: 385px;
  }

  .u-section-4 .u-image-3 {
    min-height: 385px;
  }

  .u-section-4 .u-image-4 {
    min-height: 385px;
  }

  .u-section-4 .u-image-5 {
    min-height: 385px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 904px;
}

.u-section-5 .u-text-1 {
  width: 740px;
  margin: 69px auto 0;
}

.u-section-5 .u-list-1 {
  min-height: 315px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-14 {
  font-size: 1.875rem;
  width: 740px;
  margin: 30px auto 6px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-list-1 {
    min-height: 259px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-list-1 {
    min-height: 595px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    width: 720px;
  }

  .u-section-5 .u-text-14 {
    width: 720px;
    margin: 47px 0 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1887px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-14 {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-14 {
    width: 340px;
    margin-top: 644px;
  }
}.u-block-8d41-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8d41-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-8d41-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -61px);
}

@media (max-width: 1199px) {
  .u-block-8d41-4 {
    right: calc(((100% - 940px) / 2)  + -50px);
  }
}

@media (max-width: 991px) {
  .u-block-8d41-4 {
    right: calc(((100% - 720px) / 2)  + -38px);
  }
}

@media (max-width: 767px) {
  .u-block-8d41-4 {
    right: calc(((100% - 540px) / 2)  + -28px);
  }
}

@media (max-width: 575px) {
  .u-block-8d41-4 {
    right: calc(((100% - 340px) / 2)  + -18px);
  }
}