.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1R9A4863.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1277px;
}

.u-section-1 .u-image-1 {
  width: 496px;
  height: 346px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  width: 711px;
  margin: 129px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 137px;
  width: 137px;
  margin: -77px 255px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 25px 64px 26px 62px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 142px;
  min-height: 16px;
  width: 694px;
  min-width: 190px;
  margin: 87px auto 60px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -101px;
    margin-right: 115px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -7px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 65px;
    width: 386px;
    margin-top: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -96px;
    margin-right: 56px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 83px;
    width: 83px;
    margin-top: -47px;
    margin-right: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -140px;
    margin-right: -11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 101px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 69px;
    margin-left: -23px;
    margin-right: -23px;
  }
}