.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1R9A4863.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-1 .u-text-1 {
  margin: 735px 71px 0;
}

.u-section-1 .u-image-1 {
  width: 496px;
  height: 346px;
  margin: -336px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px auto 0 387px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -49px auto 0 610px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 21px;
  min-height: 16px;
  width: 210px;
  min-width: 190px;
  margin: 86px auto 60px 465px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 896px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 240px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -905px;
    margin-left: 546px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 262px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 65px;
    width: 386px;
    margin-top: 83px;
    margin-left: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 536px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -465px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 286px;
    margin-left: 208px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 369px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 144px;
    margin-left: 167px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 493px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -385px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
    margin-left: 286px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 121px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 94px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 499px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
    margin-top: -441px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 74px;
    margin-left: 190px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 18px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 138px;
    margin-left: -23px;
  }
}