.u-section-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 605px auto 60px;
  padding: 19px 54px 20px 52px;
}